@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin shape {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

$colores: (
    verde: #00BF85,
    blanco: #fff,
    crema: #f7f5f4,
    negro: #000,
    oscuro: #111,
);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: rgb(37, 35, 35);
    z-index: 1000;

    .navbar-brand{
        font-size: 1.5rem;
        font-weight: 700;
    }
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: map-get($map: $colores, $key: blanco);
    margin: 0.8rem;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: map-get($map: $colores, $key: verde);
}

#navbarSupportedContent > a{
    background: map-get($map: $colores, $key: verde);
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#navbarSupportedContent > a:hover{
    background: map-get($map: $colores, $key: crema);
}

.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    video{
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .hero {
        position: relative;

        p{
            width: 55%;
            font-size: 1.1rem;
            letter-spacing: 0.2px;
            padding-bottom: 1rem;
        }

        a{
            background: map-get($map: $colores, $key: verde);
            font-weight: 600;
            padding: 0.6rem 1.4rem;
            border-radius: 30px;
            text-decoration: none;
        }

        a:hover{
            background: rgba(255, 255, 255, 0.774);
        }
    }
}

.about{
    background: map-get($map: $colores, $key: negro);

    .text{
        @include shape;

        h6{
            color: map-get($map: $colores, $key: verde);
            font-weight: 800;
            font-size: 1rem;
            letter-spacing: 2px;
        }

        h2{
            color: map-get($map: $colores, $key: crema);
            font-weight: 700;
            font-size: 2.7rem;
        }

        p{
            color: map-get($map: $colores, $key: crema);
            font-weight: 400;
            font-size: 1.1rem;
            letter-spacing: 0.5px;
        }

        a{
            background: map-get($map: $colores, $key: verde);
            font-weight: 600;
            padding: 0.6rem 1.4rem;
            border-radius: 30px;
            text-decoration: none;
            color: map-get($map: $colores, $key: oscuro);
        }

        a:hover{
            background: rgba(255, 255, 255, 0.774);
        }
    }
}

%h6{
    color: map-get($map: $colores, $key: verde);
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

%p{
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

%a {
    background: map-get($map: $colores, $key: verde);
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: map-get($map: $colores, $key: oscuro);
}

.discovery{ 
    .text{
        @include shape;

        h6{@extend %h6;}

        h2{color: map-get($map: $colores, $key: oscuro);}

        p{@extend %p;}

        a{
            @extend %a;
            background: map-get($map: $colores, $key: oscuro);
            font-weight: 500;
            color: map-get($map: $colores, $key: blanco);
        }

        a:hover{
            background: map-get($map: $colores, $key: verde);
        }
    }
}

.service {
    background: map-get($map: $colores, $key:negro);

    .one{
        background: map-get($map: $colores, $key: blanco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem 1.5rem;
        border-radius: 5px;
    }
}

.sign {
    .text{
        @include shape;

        h6{@extend %h6;}

        h2{color: map-get($map: $colores, $key: oscuro);}

        p{@extend %p;}

        a{
            @extend %a;
            background: map-get($map: $colores, $key: oscuro);
            font-weight: 500;
            color: map-get($map: $colores, $key: blanco);
        }

        a:hover{
            background: map-get($map: $colores, $key: verde);
        }
    }
}

body > footer{
    background: rgba(17, 17, 17, 0.952)!important;
}

.login{
    background: url(https://static.vecteezy.com/system/resources/previews/004/379/382/non_2x/mobile-banking-app-flat-illustration-credit-card-transaction-bill-payment-cartoon-concept-easy-to-use-application-online-bank-account-ebanking-ewallet-e-payment-isolated-metaphor-vector.jpg) no-repeat center;
    background-size: 50%;
    position:static;
    height: 100vh;

    .box{
        width: 320px;
        height: 420px;
        background: rgba(17, 17, 17, 0.952);
        color:map-get($map: $colores, $key: blanco);
        top: 60%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding:70px 30px;

        .avatar{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border:  3px rgba(17, 17, 17, 0.952) solid;
            position: absolute;
            top: -50px;
            left: calc(50% - 50px);   
        }
    
        h1{
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-size: 22px;
        }
    
        label{
            margin: 0;
            padding: 0;
            font-weight: bold;
            display: block;
        }
    
        input{
            width: 100%;
            margin-bottom: 20px;
        }
    
        input[type="text"],input[type="password"]{
            border: none;
            border-bottom: 1px solid map-get($map: $colores, $key: blanco);
            background: transparent;
            outline: none;
            height: 40px;
            color: map-get($map: $colores, $key: blanco);
            font-size: 16px;
        }

        input[type="submit"]{
            border: none;
            outline: none;
            height: 40px;
            background: map-get($map: $colores, $key: verde);
            color: map-get($map: $colores, $key: oscuro);
            border-radius: 30px;
            font-weight: 600;
        }

        input[type="submit"]:hover{
            background: rgba(255, 255, 255, 0.774);
        }

        a{
            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: darkgrey;
            display: flex;
            justify-content: space-around;
        }
    }
}   

.register{
    background: rgba(17, 17, 17, 0.952);
    margin-top: 78px;
    color:map-get($map: $colores, $key: crema);

    .btn{
        font-weight: 400;
        padding: 1rem 2rem;
        border-radius: 5rem;
        min-width: 10rem;
        background: map-get($map: $colores, $key: verde);  
    }

    .btn:hover{
        background: map-get($map: $colores, $key: crema) transparent;
    }

    .pepe{
        font-weight: 500;
        padding: 1rem 2rem;
        border-radius: 5rem;
        min-width: 10rem;
        background: map-get($map: $colores, $key: verde);
    }

    .pepe:hover{
        background: map-get($map: $colores, $key: crema);
    }

    .btn-outline-dark{
        border: 2px solid map-get($map: $colores, $key: oscuro);
    }

    .form-control {
        background-color:darkgrey;
        border: 2px solid map-get($map: $colores, $key: oscuro);
        border-radius: 5rem;
        padding: 1.5rem 1rem;
    }
}

.p-6{
    padding: 4rem 2rem;
}

.register-bg{
    background-image: url(https://cdn.pixabay.com/photo/2018/01/18/07/31/bitcoin-3089728__480.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height: 100vh;
}

.testimonial {
    bottom: 10px;
    color: map-get($map: $colores, $key: negro);
}